<div class="container mt-5">
    <h1 class="mb-4 text-center">Discover Events</h1>
    {{> message}}
    <div class="row">
        <!-- Iterate over events array -->
        {{#each results.data._embedded.events}}
        <div class="col-sm-6 col-md-4 col-lg-3 col-12 mb-4">
            <div class="card h-100" style="width: 18rem;">
                <img src="{{#if this.images.0.url}}{{this.images.0.url}}{{else}}https://img.freepik.com/premium-photo/silhouettes-crowd-with-raised-hands-live-concert_1295366-12346.jpg?semt=ais_hybrid{{/if}}"
                    class="card-img-top" alt="Event Image">
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="card-text">{{this.dates.start.localDate}}</p>
                    <p class="card-text">{{this.dates.start.localTime}}</p>
                    <a href={{this.url}} class="btn btn-primary">Book Now</a>
                </div>  
            </div>
        </div>
        {{/each}}
    </div>
</div>
</div>
