<br>
<div class="centered-container">
    <div id="drop-down">
        {{>dropdown currentPage=currentPage section="right"}}
    </div>
    <br>
    <div class="row">
        <div class="col-4">
            <form action="/makePlaylist" method="POST">
                <input type="hidden" name="currentPage" value="{{currentPage}}">
                <input type="hidden" name="id" value="{{selectedPlaylistId}}">
                <input type="hidden" name="sortSong" value="true">
                <input type="hidden" name="sortDateArtistClear" value="true">
                <button type="submit" class="btn" style="background-color: white;">SORT SONGS</button>
            </form>
        </div>
        <div class="col-4">
            <form action="/makePlaylist" method="POST">
                <input type="hidden" name="currentPage" value="{{currentPage}}">
                <input type="hidden" name="id" value="{{selectedPlaylistId}}">
                <input type="hidden" name="sortArtist" value="true">
                <input type="hidden" name="sortSongDateClear" value="true">
                <button type="submit" class="btn" style="background-color: white;">SORT ARTISTS</button>
            </form>
        </div>
        <div class="col-4">
            <form action="/makePlaylist" method="POST">
                <input type="hidden" name="currentPage" value="{{currentPage}}">
                <input type="hidden" name="id" value="{{selectedPlaylistId}}">
                <input type="hidden" name="sortDate" value="true">
                <input type="hidden" name="sortArtistSongClear" value="true">
                <button type="submit" class="btn" style="background-color: white;">SORT DATE</button>
            </form>
        </div>
    </div>

    <!-- SELECTED PLAYLIST CARD -->
    <div id="edit-card-container" class="col-8">
        <div id="edit-playlist-card" class="card">
            <div id="card-header-edit">
                <br>
                {{selectedPlaylistName}}
                <br>
                <br>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between">
                    <span></span>
                    <span>Song</span>
                    <span>Artist</span>
                    <span>Release Date</span>
                </li>

            <!-- Example Playlist Songs -->
            <form action="/makePlaylist" method="POST">
                <ul class="list-group list-group-flush">
                    <input type="hidden" name="currentPage"
                        value="{{currentPage}}">
                    {{#if sortedSongs}}
                        {{#each sortedSongs}}
                        <li id="song-list-group"
                            class="list-group-item d-flex justify-content-between">
                            <input id={{this.song_id}} type="checkbox" name="tracks"
                                value={{this.song_id}}>
                            <span>{{this.name}}</span>
                            <span style="text-align: center;">{{this.artist}}</span>
                            <span>{{this.album_release}}</span>
                        </li>
                        {{/each}}
                    {{else}}
                        {{#if sortedArtists}}
                            {{#each sortedArtists}}
                            <li id="song-list-group"
                                class="list-group-item d-flex justify-content-between">
                                <input id={{this.song_id}} type="checkbox" name="tracks"
                                    value={{this.song_id}}>
                                <span>{{this.name}}</span>
                                <span style="text-align: center;">{{this.artist}}</span>
                                <span>{{this.album_release}}</span>
                            </li>
                            {{/each}}
                        {{else}}
                            {{#if sortedDates}}
                                {{#each sortedDates}}
                                <li id="song-list-group"
                                    class="list-group-item d-flex justify-content-between">
                                    <input id={{this.song_id}} type="checkbox" name="tracks"
                                        value={{this.song_id}}>
                                    <span>{{this.name}}</span>
                                    <span style="text-align: center;">{{this.artist}}</span>
                                    <span>{{this.album_release}}</span>
                                </li>
                                {{/each}}
                            {{else}}
                                {{#each playlist_songs}}
                                <li id="song-list-group"
                                    class="list-group-item d-flex justify-content-between">
                                    <input id={{this.song_id}} type="checkbox" name="tracks"
                                        value={{this.song_id}}>
                                    <span>{{this.name}}</span>
                                    <span style="text-align: center;">{{this.artist}}</span>
                                    <span>{{this.album_release}}</span>
                                </li>
                                {{/each}}
                            {{/if}}
                        {{/if}}
                    {{/if}}
                </ul>
                <button type="submit" class="btn">Delete</button>
            </form>
        </ul>
    </div>
</div>
